nav{
    margin: 5px;
}

#add_more_btn, #submit_btn, #remove_btn{
    height: 50px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

#remove_btn{
    display: none;
}

#pagination{
    justify-content: center;
    margin-left: 45%;
}

#view_user{
    margin-left: 90%;
    margin-bottom: 15px;
}